.p11 {
  font-weight: bold;
  color: gray;
  margin-top: 10px;
  font-family: Courier;
  font-size: small;
  line-height: 0.22;
}
.p11a {
  letter-spacing: 0px;
  line-height: 1;
}
.p11a a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.p11a a:hover {
  text-decoration: underline;
  color: darkblue;
}
.p21 {
  font-weight: bold;
  color: gray;
  margin-top: 10px;
  font-family: Courier;
  font-size: small;
  line-height: 0.22;
}
.p21a {
  letter-spacing: 0px;
  line-height: 1;
}
.p21a a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.p21a a:hover {
  text-decoration: underline;
  color: darkblue;
}
.p31 {
  font-weight: bold;
  color: gray;
  margin-top: 10px;
  font-family: Courier;
  font-size: small;
  line-height: 0.22;
}
.p31a {
  letter-spacing: 0px;
  line-height: 1;
}
.p31a a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}
.p31a a:hover {
  text-decoration: underline;
  color: darkblue;
}
.psh2 {
  width: 50%;
  text-align: justify;
  margin: 0 auto;
  font-size: 20px;
}
.psh1 {letter-spacing: 1.2;
    text-align: center;
    font-size: 15px;
}
